* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
    --secondary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
    background-color: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sora, sans-serif;
}

textarea,
input,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.line-number {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

.line-clamp-1 {
    --line-clamp: 1;
}

.line-clamp-3 {
    --line-clamp: 1;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.row-center {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 117px;
    border: 1px solid var(--primary-color);
    height: 50px;
    text-align: center;
    font-size: 1.4rem;
    white-space: nowrap;
    word-break: keep-all;
    color: var(--primary-color);
    border-radius: 999px;
    cursor: pointer;
    transition: 0.2s;
}

.btn.btn--primary {
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    border: none;
}

.btn:hover {
    opacity: 0.8;
}

.btn.disabled {
    opacity: 0.85;
}
