/* css chính tại đây */

/* Header */
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0 14px;
}

.navigation__list {
    display: flex;
    align-items: center;
}

.navigation__link {
    font-weight: 500;
    font-size: 1.4rem;
    color: #5e6085;
    padding: 14px 18px;
    transition: 0.2s;
}

.navigation__link:hover {
    color: var(--primary-color);
    text-shadow: 0.5px 0 var(--primary-color);
}

.authenticate {
    display: flex;
    column-gap: 12px;
}

.authenticate__login {
    background-color: var(--primary-color);
    color: #fff;
}

/* Hero section */
.hero {
    margin-top: 86px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__img {
    width: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.hero__decor {
    z-index: -1;
    position: absolute;
}

.hero__decor--top {
    top: 16px;
    right: -39px;
}

.hero__decor--bottom {
    left: -58px;
    bottom: 10px;
}

.hero__img-wrap--small {
    width: 186px;
    height: 244px;
    background: #faa7ad;
    align-self: flex-end;
    margin-bottom: -58px;
    margin-left: -23px;
    border: 2px solid #f9d7da;
    box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}

.hero__card {
    position: absolute;
    width: 250px;
    background: #ffffff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
    padding: 18px 14px;
    bottom: 0;
    left: 129px;
}

.hero__card-img {
    width: 40px;
    height: 40px;
    background: #fec23f;
    border-radius: 10px;
}

.hero__card-item {
    display: flex;
    column-gap: 10px;
}

.hero__card-item:last-of-type .hero__card-img {
    background-color: #c6e2fa;
}

.hero__card-title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181e52;
}

.hero__card-skeleton {
    width: var(--width, 118px);
    height: 4px;
    background: var(--primary-color);
    opacity: 0.08;
    border-radius: 10px;
    margin-top: 7px;
}

.hero__card-divider {
    height: 2px;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin: 20px 0;
}

.hero__heading {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: var(--primary-color);
    max-width: 517px;
}

.hero__desc {
    margin-top: 24px;
    max-width: 391px;
}

.hero__cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__cta-btn {
    height: 60px;
    min-width: 189px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-btn-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fffaf5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
    border-radius: 50%;
    color: var(--secondary-color);
    margin-left: 10px;
}

.hero__cta-link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration-line: underline;
    color: var(--primary-color);
}

/* About section */
.about {
    margin-top: 77px;
    padding: 53px 0;
}

.about__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 200px;
}

.about__heading {
    max-width: 446px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px 36px;
}

.about__checklist-item {
    display: flex;
    align-items: center;
}

.about__checklist-checkbox {
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.about__checklist-label {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
    white-space: nowrap;
}

.about__media {
    width: 494px;
    height: 559px;
    display: flex;
}

.about__media-wrap {
    align-self: flex-end;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px rgba(255, 155, 121, 0.12);
    position: relative;
}

.about__img {
    position: absolute;
    height: 559px;
    width: 100%;
    object-fit: cover;
    align-self: flex-end;
    bottom: 0;
}

.about__decor-rain {
    position: absolute;
    top: -66px;
    right: -55px;
    z-index: -1;
}

.about__experience {
    position: absolute;
    width: 136px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    left: -92px;
    top: -70px;
    padding: 26px 32px;
}

.about__decor-leg {
    position: absolute;
    top: -38px;
    right: -38px;
}

.about__experience-age {
    font-weight: 700;
    font-size: 4.2rem;
    text-align: center;
    color: #ffffff;
}

.about__experience-label {
    margin-top: 14px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.43;
    text-align: center;
    color: #c6f4f9;
    text-align: center;
    display: inline-block;
}

/* Features */
.features {
    margin-top: 100px;
}

.features__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 78px;
}

.features__img-wrap {
    width: 458px;
    height: 500px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
    position: relative;
}

.features__img {
    width: 100%;
}

.features__decor {
    position: absolute;
}

.features__decor:nth-child(2) {
    bottom: -54px;
    right: -42px;
}

.features__decor:nth-child(3) {
    right: 19px;
    bottom: 150px;
}

.features__decor:nth-child(4) {
    top: 12px;
    right: 63px;
}

.features__decor:nth-child(5) {
    top: -16px;
    right: 13px;
}

.features__decor:nth-child(6) {
    top: 33px;
    right: -21px;
}

.features__heading {
    max-width: 543px;
}

.features__desc {
    max-width: 511px;
}

.features__desc:last-of-type {
    max-width: 391px;
    margin-top: 36px;
}

.features__list {
    margin-top: 52px;
    display: flex;
    align-items: center;
    column-gap: 56px;
}

.features__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.features__item-name {
    font-weight: 600;
    font-size: 1.8rem;
    color: #48496a;
}

.features__progress {
    margin-top: 10px;
    height: 2px;
    background-color: #ff5b2e2b;
    border-radius: 999px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

.features__progress-current {
    height: 2px;
    width: 95px;
    background-color: #ff5b2e;
    border-radius: 999px;
}

.features__view-more {
    display: inline-flex;
    flex-direction: column;
    margin-top: 32px;
    font-weight: 500;
    font-size: 1.6rem;
    color: #ff5d31;
}

.features__view-more::after {
    content: "";
    display: inline-block;
    height: 1.5px;
    width: 100%;
    background-color: #ff5d31;
    border-radius: 999px;
    margin-top: 5px;
}
